__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
.venv/
env/
ENV/

build/
dist/
dist/**
*.egg-info/
.Python
*.spec.bak

.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/

data/*.csv
data/*.xlsx
data/*.xls
data/**/*.csv
data/**/*.xlsx
data/**/*.xls

Thumbs.db
Desktop.ini
.DS_Store
